<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
<title>Tweeter Search Portal</title>
</head>
<body>
	<div>
		<p align="center" class="bold">Welcome to Tweeter Search Portal</p>
	</div>
	<div>
		<form action="#" th:action="@{/home}" th:object="${tweet}"
			method="post">
			
			<div align="center" class="form-group">
				<label for="device">Device</label> <input type="text"
					th:field="*{device}" />
				<ul>
					<li th:each="err : ${#fields.errors('device')}" th:text="${err}"
						class="error" />
				</ul>
			</div>
			<div align="center" class="form-group">
				<input type="submit" class="btn btn-primary" value="Submit" />
				<input type="reset" class="btn btn-primary" value="Reset" />
			</div>
			<div align="center"><p>Currently only search by device supported</p></div>
		</form>
	</div>
</body>
</html>