<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
<title>Tweeter Search Results</title>
</head>
<body>
	<div>
		<p align="center">Tweeter Search Results
	</div>

	<!--  <div>"Total Hits: ${totalHits}"</div> -->
	<div align="center"><span>Total Hits: </span><span th:text="${totalHits}"></span></div>
	<div th:switch="${tweets}" class="container my-5">
		<div align="center" class="row">
			<div th:case="*">
				<table class="table table-striped table-responsive-md" border="1">
					<thead>
						<tr>
							<th>Score</th>
							<!--<th>Doc ID</th>-->
							<th>Tweet</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="tweet : ${tweets}">
							<td th:text="${tweet.score}">Score</td>
							<!--<td th:text="${tweet.id)">DocID</td>-->
							<td th:text="${tweet.text}">Tweet</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div>
		<p align="center">
			<a th:href="@{/home}">Home</a>
		</p>
	</div>
</body>
</html>